# Fake News Detector Machine Learning Model

In [1]:
import pandas as pd
import numpy as np

# Importing Function from script.py file
from scripts import word_drop

# Loading The Datasets

For this exploratory Pipeline, I am using two separated datasets I found on Google, one CSV file is the **true news dataset** and the other file is the ****fake news dataset****.

In [2]:
df_fake = pd.read_csv('Datasets/Public_Data/corona_fake.csv')
df_fake = df_fake.drop(['text', 'source', 'label'], axis=1)
df_fake.rename(columns = {'title':'Tweets'}, inplace = True)
df_fake = df_fake.dropna()
print(df_fake.shape)
df_fake.head(3)

(1082, 1)

                                              Tweets
0  Due to the recent outbreak for the Coronavirus...
5  CORONA UNMASKED: Chinese Intelligence Officer ...
9  Basic protective measures against the new coro...

In [3]:
df_true = pd.read_csv('Datasets/Old_Collected_Data/COVID-19-Truth.csv')
df_true = df_true.drop(['Tweet URL', 'Tweet ID', 'User ID', 'Unnamed: 0'], axis=1)
print(df_true.shape)
df_true.head(3)

(703, 1)

                                              Tweets
0  The global Covid-19 death toll hits a new grim...
1  The White House unveiled a plan to move the na...
2  Britain's Queen Elizabeth II cancels virtual e...

# Adding Labels to each Dataset

In [4]:
df_fake["class"] = 0
df_true["class"] = 1

# Dataset Shapes

In [5]:
df_fake.shape, df_true.shape

((1082, 2), (703, 2))

In [ ]:
# remove_n = abs(df_fake.shape[0]-df_true.shape[0])

# if df_fake.shape[0] > df_true.shape[0]:
#     drop_indices = np.random.choice(df_fake.index, remove_n, replace=False)
#     df_fake = df_fake.drop(drop_indices)
    
    
# elif df_true.shape[0] > df_fake.shape[0]:
#     drop_indices = np.random.choice(df_true.index, remove_n, replace=False)
#     df_true = df_true.drop(drop_indices)

# Taking some rows from the two datasets

I am creating two variables to store the last 10 rows of each dataset to then export it to a new csv file.

Our Goal is to use those news for manual testing after we build Our model.

In [6]:
# Storing last 10 rows of df_fake into a variable
df_fake_manual_testing = df_fake.tail(10)

# Deleting the last 10 rows from dataset
df_fake.drop(df_fake.tail(10).index,
        inplace = True)

# Storing last 10 rows of df_true into a variable
df_true_manual_testing = df_true.tail(10)

# Deleting the last 10 rows from dataset
df_true.drop(df_true.tail(10).index,
        inplace = True)

# Dataset Shapes Now

In [7]:
# df_fake.shape, df_true.shape
df_true_manual_testing.head(3)

                                                Tweets  class
693  Joe Rogan has been yammering about the COVID-1...      1
694  An estimated 900,000 people have now died from...      1
695  The global death toll from Covid-19 surpassed ...      1

# Creating a Dataframe to store the 10 rows from df_true and df_fake

Also I am exporting that datafram in an CSV file out of this notebook.

In [8]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)
df_manual_testing = df_manual_testing.sample(frac=1)
df_manual_testing["Tweets"] = df_manual_testing["Tweets"].apply(word_drop)
df_manual_testing.head(3)

                                                 Tweets  class
1163  why funding the covid  response could be the b...      0
701   eric lander  the head of the office of science...      1
1158     summer is coming  but the virus won t be going      0

In [9]:
df_manual_testing.to_csv("Datasets/manual_testing.csv")

# Feature Engineering 
## Mergin the Datasets into One

In [12]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df = df_merge.sample(frac=1)
df.head(10)

                                                 Tweets  class
246   INFO TO PROPER PARTIES TO ASSIST WITH CORONAVI...      0
271   Pregnant people infected with Covid appear to ...      1
1079  VACCINES DON’T HEAL; THEIR PRODUCTION IS PART ...      0
874   COVID-19 is a scripted narrative to justify cl...      0
309   China is facing its biggest coronavirus outbre...      1
431   Breaking news: China will admit coronavirus co...      0
41    COVID-19 coronavirus epidemic has a natural or...      0
555   A study finds that Guayaquil likely had the mo...      1
518                        NO TO 5G! SIGN THE PETITION!      0
484   Babies born to mothers who got vaccinated duri...      1

# Checking for Null values

No null values as you can see in the results below

In [13]:
df.isnull().sum() # Alles Gut hier

Tweets    0
class     0
dtype: int64

## Calling funtion on the text column

In [14]:
df["Tweets"] = df["Tweets"].apply(word_drop)

In [15]:
df.head(3)

                                                 Tweets  class
246   info to proper parties to assist with coronavi...      0
271   pregnant people infected with covid appear to ...      1
1079  vaccines don t heal  their production is part ...      0

In [ ]:
df.to_csv("Datasets/df.csv")