# Collecting Textual News Data from Twitter

## Importing Dependencies

In [1]:
import pandas as pd
import tweepy
from dotenv import load_dotenv
import os
load_dotenv()

from scripts import getClient, searchTweets, search_tweets_next, get_user_by_id

# Calling Function to search for tweets

In [3]:
#First Data Request
NewsAccounts = ['factcheckdotorg', 'CNN', 'Forbes', 'BBCBreaking', 'BBC', 
                'nytimes', 'WSJ', 'washingtonpost', 'NewYorker', 
                'AP', 'Reuters', 'Bloomberg', 'ForeignAffairs', 
                'TheAtlantic', 'politico']

# FakeNewsAccounts = ['TheOnion']

df = searchTweets('from:{} covid-19 -is:retweet lang:en'.format(NewsAccounts[0]), 500)

NO NEXT TOKEN AVAILABLE, THIS MEANS YOU GOT ONLY ONE PAGE.... :(

In [5]:
df.head(3)

,Tweets,Tweet URL,Tweet ID,User ID
0,A CDC report found that side effects such as a...,https://twitter.com/21344507/status/1509521522...,1509521522842501133,21344507
1,A Pfizer document recently released by the Foo...,https://twitter.com/21344507/status/1509221024...,1509221024776159233,21344507
2,Plenty of peer-reviewed studies have found gov...,https://twitter.com/21344507/status/1506376412...,1506376412843810816,21344507

In [ ]:
#Data requests adding pagination token (each request gets 500 tweets, every single execuion I have to change the token manually)
pagination = 0
df = search_tweets_next('from:{} covid-19 -is:retweet lang:en'.format(NewsAccounts[0]), 500, next_page_token, pagination)

In [ ]:
df.to_csv('Datasets/TrustedNews.csv')

In [ ]:
df.to_csv('Datasets/FakeNews.csv')

df