# Fake News Detector Machine Learning Model

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_recall_fscore_support
import re
import string

# Loading The Datasets

For this exploratory Pipeline, I am using two separated datasets I found on Google, one CSV file is the **true news dataset** and the other file is the ****fake news dataset****.

In [2]:
df_fake = pd.read_csv('Data_1/True.csv')
df_fake.head(3)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"

In [3]:
df_true = pd.read_csv('Data_1/Fake.csv')
df_true.head(3)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"

# Adding Lables to each Dataset

In [4]:
df_fake["class"] = 0
df_true["class"] = 1

# Dataset Shapes

In [5]:
df_fake.shape, df_true.shape

((21417, 5), (23481, 5))

# Taking some rows from the two datasets

I am creating two variables to store the last 10 rows of each dataset to then export it to a new csv file.

Our Goal is to use those news for manual testing after we build Our model.

In [6]:
# Storing last 10 rows of df_fake into a variable
df_fake_manual_testing = df_fake.tail(10)

# Deleting the last 10 rows from dataset
df_fake.drop(df_fake.tail(10).index,
        inplace = True)

# Storing last 10 rows of df_true into a variable
df_true_manual_testing = df_true.tail(10)

# Deleting the last 10 rows from dataset
df_true.drop(df_true.tail(10).index,
        inplace = True)

# Dataset Shapes Now

In [7]:
df_fake.shape, df_true.shape

((21407, 5), (23471, 5))

# Creating a Dataframe to store the 10 rows from df_true and df_fake

Also I am exporting that datafram in an CSV file out of this notebook.

In [9]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)
df_manual_testing.to_csv("Data_1/manual_testing.csv")

# Feature Engineering 
## Mergin the Datasets into One

In [10]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",0
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",0
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",0
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",0
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",0

## Deleting Titlte, subject and date columns

In [11]:
df = df_merge.drop(['title', 'subject', 'date'], axis=1)
df.head(3)

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      0
1  WASHINGTON (Reuters) - Transgender people will...      0
2  WASHINGTON (Reuters) - The special counsel inv...      0

## Randomizing rows in the Merged Dataset

In [12]:
df = df.sample(frac=1)
df.head(10)

                                                    text  class
5176   Republican presidential nominee Donald Trump h...      1
66     ATLANTA (Reuters) - The two Democratic candida...      0
20555  JUBA (Reuters) - The International Committee o...      0
4320   The Daily Show needs to go after Fox News more...      1
19311  Anyone who is sick and tired of social justice...      1
517    SACRAMENTO, Calif. (Reuters) - California lawm...      0
415    (Reuters) - U.S. President Donald Trump has ag...      0
22953  This was Rachel Maddow s Geraldo Rivera moment...      1
2867   BEIJING (Reuters) - Chinese President Xi Jinpi...      0
5011   It s getting to the point that as frightening ...      1

# Checking for Null values

No null values as you can see in the results below

In [13]:
df.isnull().sum()

text     0
class    0
dtype: int64

# Creating a function that will take the text from the dataset and remove special characters

In [14]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('\\W', " ", text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

## Calling funtion on the text column

In [15]:
df["text"] = df["text"].apply(word_drop)

In [16]:
df.head(10)

                                                    text  class
5176   republican presidential nominee donald trump h...      1
66     atlanta  reuters    the two democratic candida...      0
20555  juba  reuters    the international committee o...      0
4320   the daily show needs to go after fox news more...      1
19311  anyone who is sick and tired of social justice...      1
517    sacramento  calif   reuters    california lawm...      0
415     reuters    u s  president donald trump has ag...      0
22953  this was rachel maddow s geraldo rivera moment...      1
2867   beijing  reuters    chinese president xi jinpi...      0
5011   it s getting to the point that as frightening ...      1

# Defining our Dependent and Independent Variables

In [17]:
x = df['text']
y = df['class']

# Spliting the Data in Train and Test

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= .25)

print('df', df.shape)
print('x_train', x_train.shape)
print('x_test', x_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

df (44878, 2)
x_train (33658,)
x_test (11220,)
y_train (33658,)
y_test (11220,)

# Converting Train data text into Vector
Using sklearn.feature_extraction.text.TfidfVectorizer
// from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
vectorization = TfidfVectorizer()
x_train_vectors = vectorization.fit_transform(x_train)
x_test_vectors = vectorization.transform(x_test)

# Model Selection

## Training Logistic Regression Model

In [20]:
model_1 = LogisticRegression()
model_1.fit(x_train_vectors, y_train)

LogisticRegression()

## Testing the Model

In [21]:
y_predicted = model_1.predict(x_test_vectors)
accuracy = accuracy_score(y_test, y_predicted)
precision, recall, f1, support = precision_recall_fscore_support(y_test, y_predicted) 

print("Accuracy = {:.2f}".format(accuracy))
print("Precision = ", precision)
print("Recall = ", recall)
print('F1-Score', f1)

Accuracy = 0.99
Precision =  [0.98830735 0.98868313]
Recall =  [0.98775737 0.98919197]
F1-Score [0.98803228 0.98893748]